body{
    background:url('We Heart It.gif');
}
nav{
 display: flex;
 height:80px;
 background-color:rgb(20, 9, 9);
 justify-content: flex-end;

}
ul{
    display:flex;
    justify-content: space-between;
    gap:30px;
    float:left;
    justify-content: flex-end;
    list-style: none;
    
}
nav ul  li a{
    position:relative;
    color:#fff;
    list-style: none;
    text-decoration: none;
   
    
    
}
nav ul  li a:before{
    position:absolute;
    content: '';
    left:0;
    bottom:0;
    height:3px;
    width:100%;
    background:#fff;
    transform: scaleX(0);
    transform-origin:right;
    transition:transform .7s linear;
    
    
    
    
}

nav ul  li a:hover:before{
    transform: scaleX(1);
    transform-origin:left;
   
    
}
label i{
    color:#fff;
    font-size:25px;
    padding-top: 25px;
}
#check{
    display: none;
}
label{
    display: none;
}


@media(max-width:575px){
    nav ul{
        position:fixed;
        display:block;
        text-align: left;
        height:100vh;
        width:100%;
        top:80px;
        left:-800px;
        background:rgb(20, 9, 9);

       
        transition: all 400ms;
    }
    nav ul li{
        margin:30px 0;
    }
    nav ul li a{
        font-size:23px;
    }
    nav ul li a:hover {
        color: white;

    }
    label{
        display: block;
    }
    #check:checked ~ ul{
        left:0%;
    }
    #check:checked ~label i::before{
        content:'\f00d';
    }
}